.MyButton {
  user-select: none;
  border: 1px solid black;
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  margin-top: 0.5em;
}

.MyButton:hover {
  background-color: lightgray;
}

.MyButtonDisabled {
  opacity: 0.5;
  background-color: white !important;
  cursor: auto;
}
